* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  font-size: 62.5%;
  color: #fff;
}

.searcher {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
}
.searcher__logo img {
  width: 35px;
  height: 35px;
}
.searcher__logo h1 {
  font-size: 3rem;
  line-height: 40px;
  color: #EEBA2C;
}
.searcher__message {
  font-size: 1rem;
}
.searcher__input-movie {
  width: 80%;
  max-width: 400px;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: #262626;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
}
.searcher__input-movie::-moz-placeholder {
  font-size: 0.8rem;
  color: #dedede;
}
.searcher__input-movie::placeholder {
  font-size: 0.8rem;
  color: #dedede;
}
.searcher__input-movie:focus {
  outline: 2px solid #EEBA2C;
}
.searcher__button {
  width: 40%;
  max-width: 180px;
  height: 35px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  background-color: #EEBA2C;
  color: #262626;
}

.header-with-logo {
  padding: 15px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #EEBA2C;
}
.header-with-logo img {
  width: 12px;
  height: 12px;
}
.header-with-logo h1 {
  font-size: 0.8rem;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
}

.gallery__display {
  padding: 0 20px;
  text-align: center;
  font-family: "Hind Guntur", sans-serif;
}
.gallery__display__total-results {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.gallery__display__movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 15px;
}
.gallery__display__movies a {
  text-decoration: none;
}
.gallery__display__movies article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__display__movies img {
  width: 120px;
  height: 156px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__display__movies__movie-info {
  width: 120px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  font-size: 1rem;
  line-height: 20px;
  background-color: #EEBA2C;
  color: #262626;
}
.gallery__display__movies__movie-info p {
  text-align: center;
}
.gallery__display__movies__movie-info--title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 14ch;
  font-weight: 600;
}

.movie {
  height: 100vh;
  font-family: "Hind Guntur", sans-serif;
}
.movie__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.movie__display img {
  height: 195px;
  width: 135px;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie__display h3 {
  width: 80%;
  max-width: 350px;
  height: 35px;
  padding: 5px 10px 0 10px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  background-color: #EEBA2C;
  color: #262626;
}
.movie__display p {
  width: 80%;
  font-size: 0.8rem;
  line-height: 20px;
  text-align: left;
}
.movie__display table {
  width: 80%;
  margin-bottom: 20px;
  font-size: 0.8rem;
}
.movie__display table td:first-child {
  width: 100px;
  font-weight: 600;
  color: #EEBA2C;
}/*# sourceMappingURL=style.css.map */