$color-primary: #EEBA2C;
$color-dark: #262626;
$color-light: #fff;
$color-gray: #dedede;
$font-principal: 'Gloria Hallelujah', cursive;
$font-paragraphs: 'Hind Guntur', sans-serif;

@mixin fonts($font) {
  @if $font == $font-principal {
    font-family: $font-principal;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-dark;
  font-size: 62.5%;
  color: $color-light;
}

// Styles for first section Searcher

.searcher {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  @include fonts($font-principal);
  &__logo {
    img {
      width: 35px;
      height: 35px;
    }
    h1 {
      font-size: 3rem;
      line-height: 40px;
      color: $color-primary;
    }
  }
  &__message {
    font-size: 1rem;
  }
  &__input-movie {
    width: 80%;
    max-width: 400px;
    height: 35px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: $color-dark;
    @include fonts($font-principal);
    &::placeholder {
      font-size: 0.8rem;
      color: $color-gray;
    }
    &:focus {
      outline: 2px solid $color-primary;
    }
  }
  &__button {
    width: 40%;
    max-width: 180px;
    height: 35px;
    background-color: $color-primary;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    @include fonts($font-principal);
  }
}

// Styles for second section Movie gallery

.header-with-logo {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $color-primary;
  img {
    width: 12px;
    height: 12px;
  }
  h1 {
    font-size: 0.8rem;
    @include fonts($font-principal);
  }
}

