$color-primary: #EEBA2C;
$color-dark: #262626;
$color-light: #fff;
$color-gray: #dedede;
$font-principal: 'Gloria Hallelujah', cursive;
$font-paragraphs: 'Hind Guntur', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

